{{ $destination := .Destination }}

{{ $resource := .Page.Resources.GetMatch $destination }}

{{ if $resource }}
  {{ $destination = ($resource.Resize "1500x").RelPermalink }}
{{ end }}

<figure class="text-center">
  <a href="{{ $destination | safeURL }}" target="_blank">
    <img src="{{ $destination | safeURL }}" alt="{{ .Text | plainify }}" style='max-width: {{ default "90" .Title }}%;' referrerpolicy="no-referrer"/>
  </a>
  <figcaption class="text-center">
    <small>{{ .Text | markdownify }}</small>
  </figcaption>
</figure>
