$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/font-awesome";

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/pygments-css/github";

// Import Alpha theme (ish)
@import "alpha";


.box {
  padding: 2em;

  .box {
    border-radius: 0;
  }
}

.dropotron {
  width: initial;
}

ul.actions {
  text-align: center;
}

#banner {
  background-image: url("../img/header.jpg");
}

pre code {
  margin: 0;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
}
