@import "variables";

@import "node_modules/bootstrap/scss/bootstrap";


$body-color: $gray-300;
$navbar-height: 40px;


html, body {
  color: $body-color;
}

a {
  color: $primary;

  &:hover {
    transition: color 0.5s;
    color: $body-color;
  }

  &.colour-invert {
    color: $body-color;

    &:hover {
      color: $primary;
    }
  }
}

pre code {
  margin: 0;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
}

code {
  padding: 0.25em;
}

img {
  object-fit: cover;
}

#light-gallery {
  a {
    display: inline-block;
    margin-bottom: $grid-gutter-width;
    border-bottom: 0;
    cursor: zoom-in;
    width: 100%;
    overflow: hidden;

    img {
      transition: opacity 0.5s;
      width: 100%;
    }

    &:hover img {
      opacity: 0.7;
    }
  }

  & + h4 {
    margin-top: -$grid-gutter-width / 2;
  }
}

table td {
  vertical-align: middle;
}

.table-dark {
  color: $body-color;
}

.navbar {
  background-color: $black;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-brand {
    font-size: $font-size-base;
  }

  .nav-link {
    padding-right: $font-size-base !important;
    padding-left: $font-size-base !important;
  }

  .nav-link code, .navbar-brand code {
    background-color: inherit;
    font-size: 90%;
  }
}

#index-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: calc(100vh - #{$footer-height} - #{$navbar-height});

  #search-input {
    border: 3px solid $black;
    background-color: transparentize($black, 0.2);
    text-align: center;
    color: $body-color;

    &::placeholder {
      color: transparentize($body-color, 0.2);
    }
  }
}

footer {
  background-color: $black;
  width: 100%;
  height: $footer-height;
  color: lighten($black, 50);

  a {
    color: inherit;

    &:hover {
      color: lighten($black, 75);
    }
  }
}

#main {
  margin-top: $spacer * 5;

  // screen height - top padding - navbar height - footer margin
  min-height: calc(100vh - #{$spacer * 5} - #{$navbar-height} - #{$spacer * 3});
}

.list-page-item {
  .img-wrapper {
    width: 20%;
  }

  img {
    width: 100%;
    height: 10vh;
  }
}

#TableOfContents {
  font-size: $font-size-base;

  ul {
    list-style-type: none;
  }

  & > ul {
    margin-bottom: 0;
    padding-left: $spacer;

    li {
      text-indent: -5px;

      &::before {
        margin-right: 5px;
        content: "-";
      }
    }
  }
}

ul ul, ol ol {
  padding-left: $spacer * 1.5;
}

pre.chroma {
  margin-bottom: $paragraph-margin-bottom;
  padding: $spacer;

  .highlight & {
    margin-top: 0;
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: $headings-margin-bottom * 2.2;
  }

  blockquote {
    border-left: $spacer * 0.2 solid $light;
    padding-left: $spacer * 1.2;
  }

  img {
    width: 100%;
  }

  iframe {
    width: 100%;

    &:not([height]) {
      height: 75vh;
    }

    &.youtube-embed {
      margin-bottom: $paragraph-margin-bottom;
      height: 50vh;
    }
  }

  figure {
    margin-bottom: $paragraph-margin-bottom;
  }

  table {
    @extend .table, .table-dark, .table-striped;
    margin: 0 auto;
    margin-bottom: $paragraph-margin-bottom;
    width: 66%;
    text-align: center;
  }
}

.plyr {
  min-width: initial;
}

p, li, h1, h2, h3, h4, h5, h6, div.block-shortcode {
  code {
    @extend .chroma;
    padding: $spacer * 0.25;
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  .anchor {
    font-weight: lighter;
  }
}

.header-image {
  width: 100%;
  height: 35vh;
}

.tag {
  font-size: 1rem;
}

.breadcrumb {
  margin-top: $spacer * 1.5;
  margin-bottom: 0;
  background-color: initial;
  padding: 0;
  font-size: $spacer * 0.9;

  .breadcrumb-item + .breadcrumb-item::before {
    color: $body-color;
  }
}

.playlist {
  img {
    width: 50px;
    height: 50px;
  }

  td, td > * {
    vertical-align: middle;
  }
}

.mermaid {
  text-align: center;

  img {
    width: auto;
    max-width: 100%;
  }
}

a.no-color-change {
  &, &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.about-card {
  border: 1px solid $body-color;
  background-color: $body-bg;
}

#scroll-top, #scroll-elevator {
  cursor: n-resize;
}

.block-shortcode {
  margin-bottom: $paragraph-margin-bottom;

  & > code:first-child, & > code:last-child {
    margin: 0;
    padding: 0;
    color: $body-color;
  }

  .inner {
    margin: $paragraph-margin-bottom / 4 0;
    padding-left: $spacer * 1.2;

    p:last-child {
      margin-bottom: 0;
    }
  }

}


.support-pill {
  @extend .badge, .badge-primary;

  @include media-breakpoint-up(md) {
    display: flex;
    position: fixed;
    right: $spacer;
    bottom: $spacer;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    font-size: 100%;
  }

  @include media-breakpoint-down(sm) {
    margin-top: $spacer * 3;
    width: 100%;
  }
}

#main.search-page {
  .search-results {
    .list-page-item {
      display: none;
    }
  }

  #search-input {
    border: 0;
    background-color: transparentize($black, 0.4);
    color: $body-color;
  }

  .input-group-text {
    border: 0;
    background-color: $black;
    color: $body-color;
  }
}
