@import "variables";

@import "node_modules/bootstrap/scss/bootstrap";


$body-color: $gray-300;


html, body {
  height: 100%;
  color: $body-color;
}

a {
  transition: color 0.5s;
  color: $primary;

  &:hover {
    color: $body-color;
  }

  &.colour-invert {
    color: $body-color;

    &:hover {
      color: $primary;
    }
  }
}

pre code {
  margin: 0;
  border: 0;
  border-radius: 0;
  background: none;
  padding: 0;
}

code {
  padding: 0.25em;
}

.image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.featured {
    margin-bottom: 2em !important;
    height: 13em;

    &.main {
      height: 40vh;
    }
  }
}

.yt-embed {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#light-gallery {
  a {
    display: inline-block;
    margin-bottom: $grid-gutter-width;
    border-bottom: 0;
    cursor: zoom-in;
    width: 100%;
    overflow: hidden;

    img {
      transition: opacity 0.5s;
      width: 100%;
    }

    &:hover img {
      opacity: 0.7;
    }
  }

  & + h4 {
    margin-top: -$grid-gutter-width / 2;
  }
}

table td {
  vertical-align: middle;
}

.table-dark {
  color: $body-color;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $black;

  .navbar-brand {
    font-size: $font-size-base;
  }

  .nav-link {
    padding-right: $font-size-base !important;
    padding-left: $font-size-base !important;
  }

  .nav-link code, .navbar-brand code {
    background-color: inherit;
    font-size: 90%;
  }
}

#index-header {
  width: 100%;
  height: calc(100% - 110px);
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 110px;
  color: lighten($black, 50);
  background-color: $black;

  a {
    color: inherit;

    &:hover {
      color: lighten($black, 75);
    }
  }
}

#main {
  margin-top: $spacer * 6;
}

.list-page-item {
  .img-wrapper {
    width: 20%;
  }

  .image {
    width: 100%;
    height: 10vh;
  }
}

#TableOfContents {
  font-size: $font-size-base;

  ul {
    list-style-type: none;
  }

  & > ul {
    margin-bottom: 0;
    padding-left: $spacer;

    li {
      text-indent: -5px;

      &::before {
        margin-right: 5px;
        content: "-";
      }
    }
  }
}

ul ul, ol ol {
  padding-left: $spacer * 1.5;
}

pre.chroma {
  margin: $spacer 0;
  padding: $spacer;

  .highlight & {
    margin-top: 0;
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacer;
  }

  blockquote {
    border-left: $spacer * 0.2 solid $light;
    padding-left: $spacer * 1.2;
  }

  img {
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 50vh;
  }
}

.plyr {
  min-width: initial;
}

p, li, h1, h2, h3, h4, h5, h6 {
  code {
    @extend .chroma;
    padding: $spacer * 0.25;
    color: inherit;
  }
}

.header-image {
  width: 100%;
  height: 35vh;
}

.tag {
  font-size: 1rem;
}

.breadcrumb {
  margin-top: $spacer * 1.5;
  margin-bottom: 0;
  background-color: initial;
  padding: 0;
  font-size: $spacer * 0.9;

  .breadcrumb-item + .breadcrumb-item::before {
    color: $body-color;
  }
}

.playlist {
  .image {
    width: 50px;
    height: 50px;
  }

  td, td > * {
    vertical-align: middle;
  }
}

.mermaid {
  font-size: $font-size-base;
}

a.no-color-change {
  &, &:hover {
    color: inherit;
  }
}

.about-card {
  background-color: $body-bg;
  border: 1px solid $body-color;
}
