{{ define "main" }}
<div id="main">
  <div class="container">
    {{ partial "content.html" . }}

    <div class="row">
      {{ range $i, $e := sort .Site.Data.social.accounts "name" }}
        <div class="col-sm-3 mt-3">
          <div class="card about-card text-center">
            <a href="{{ $e.link }}" class="colour-invert">
              <h1 class="display-3"><i class="{{ $e.icon }}"></i></h1>
            </a>
            <div class="card-body">
              <a href="{{ $e.link }}" class="colour-invert">
                <h3>{{ $e.name }}</h3>
              </a>
              <a href="{{ $e.link }}">
                <p>{{ $e.username }}</p>
              </a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  {{ partial "share.html" . }}
</div>
{{ end }}
