<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" />
    <meta name="superfish" content="nofish" />
    <meta name="application-name" content="{{ .Site.Title }}" />
    <link rel="icon" type="image/png" href='{{ (resources.Get "/img/logo-transparent.png" | fingerprint).RelPermalink }}'/>

    {{ partial "style.html" "scss/style.scss" }}
    {{ partial "style.html" "css/font-awesome.min.css" }}
    {{ partial "style.html" "css/highlight.css" }}

    <title>{{ partial "title-item.html" . }}{{ .Site.Title }}</title>

    {{ partial "metadata.html" . }}

    {{ if not .Site.IsServer }}
      {{ partial "matomo.html" . }}
    {{ end }}
  </head>
  <body>
    {{ partial "navbar.html" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}

    {{ partial "script.html" "js/jquery.js" }}
    {{ partial "script_async.html" "js/lightgallery.js" }}
    {{ partial "script_async.html" "js/bootstrap.js" }}
    {{ partial "script_async.html" "js/mermaid.js" }}
    {{ partial "script_async.html" "js/app.js" }}
  </body>
</html>
