<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <meta name="superfish" content="nofish" />
    <meta name="application-name" content="{{ .Site.Title }}" />
    {{ partial "favicon.html" }}

    {{ partial "style.html" "scss/style.scss" }}
    {{ partial "style.html" "css/font-awesome.css" }}
    {{ partial "style.html" "css/highlight.css" }}
    {{ partial "style.html" "css/shareon.css" }}

    {{ if eq .Params.layout "flickr" }}
      {{ partial "style.html" "css/lightgallery.css" }}
    {{ end }}

    <title>{{ partial "title-item.html" . }}{{ .Site.Title }}</title>

    {{ partial "metadata.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}

    {{ block "main" . }}{{ end }}

    {{ if not .IsHome }}
      {{ partial "bmac-pill.html" . }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ partial "script.html" "js/jquery.min.js" }}

    {{ if eq .Params.layout "flickr" }}
      {{ partial "script_async.html" "js/lightgallery.min.js" }}
    {{ end }}

    {{ partial "script_async.html" "js/bootstrap.min.js" }}

    {{ partial "script_async.html" "js/app.js" }}

    {{ partial "script_async.html" "js/shareon.js" }}

    {{ block "scripts_extra" . }}{{ end }}

    {{ if not .Site.IsServer }}
      <script async defer data-domain="theorangeone.net" src="https://elbisualp.theorangeone.net/js/index.js"></script>
    {{ end }}
  </body>
</html>
