{{ partial "page_start.html" . }}
<div id="page-wrapper">
  <section id="main" class="container">
  	<header>
  		<h2>{{ title .Title }}</h2>
		</header>
    {{ if .Content }}
  		<div class="box">
        {{ .Content }}
  		</div>
    {{ end }}
    <div class="row">
      {{ $parent := . }}
      {{ range where .Pages.ByTitle "Params.show_in_nav" "!=" "false" }}
        {{ if $parent.Params.show_images }}
          {{ partial "box_image.html" . }}
        {{ else }}
          {{ partial "box.html" . }}
        {{ end }}
      {{ end }}
    </div>
	</section>
</div>
{{ partial "page_end.html" . }}
