{{ define "main" }}
<div id="main">
  <div class="container">
    {{ partial "content.html" . }}
  </div>

  {{ with .Scratch.Get "unsplash_data" }}
    <div class="container text-center my-4">
      <small><a href="#header">Header</a> photo by <a href="{{ .user.links.html }}">{{ .user.name }}</a> on <a href="{{ .links.html }}">Unsplash</a>.</small>
    </div>
  {{ end }}

  {{ partial "share.html" . }}
  {{ partial "related-content.html" . }}
</div>
{{ end }}

{{ define "style_extra" }}
  {{ partial "style.html" "css/shareon.css" }}
  {{ partial "style.html" "css/highlight.css" }}
{{ end }}

{{ define "scripts_extra" }}
  {{ partial "script_async.html" "js/shareon.js" }}
{{ end }}
