{{ define "main" }}
<div id="main">
  <div class="container">
    {{ partial "content.html" . }}

    <p class="float-right">
      <a href="{{ ref . "/tags" }}" title="All Tags"><i class="fas fa-tag ml-3"></i></a>

      {{ with .OutputFormats.Get "rss" }}
        <a href="{{ .Permalink }}" title="Subscribe"><i class="fas fa-rss ml-3"></i></a>
      {{ end }}
    </p>

    {{ range .Pages.GroupByDate "2006-01" }}
      {{ $month := print .Key "-01" }}
      <h3 class="mt-5" id="{{ $month }}">
        <a href="#{{ $month }}" class="no-color-change">
          <time datetime="{{ $month }}" title='{{ dateFormat "January 2006" $month }}'>{{ dateFormat "2006-01" $month }}</time>
        </a>
      </h3>
      {{ range (sort .Pages "Date" "desc") }}
        {{ partial "list_item.html" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}
