<div class="col-sm-6">
  <section class="box special image">
    {{ if .Params.image }}
      <a href="{{ .Permalink }}">
        <span class="image featured" data-image="{{ .Params.image }}"></span>
      </a>
    {{ end }}
    {{ if .Params.date }}
      <small title="{{ .Date.Format "January 2 2006" }}">{{ .Date.Format "2006-01-02" }}</small>
    {{ end }}
    <a href="{{ .Permalink }}">
      <h3>{{ title .LinkTitle }}</h3>
    </a>
    {{ partial "summary_string.html" . }}
  </section>
</div>
