{{ if and .Params.image (not .Params.hide_header_image) }}
  {{ .Scratch.Set "image" .Params.image }}
  {{ if hasPrefix .Params.image "resource:" }}
    {{ $resource := .Resources.GetMatch (replace .Params.image "resource:" "") }}
    {{ .Scratch.Set "image" ($resource.Resize "1000x").RelPermalink }}
  {{ end }}

  <div class="mb-3 image header-image" data-image='{{ .Scratch.Get "image" }}'></div>
{{ end }}

{{ partial "breadcrumbs/index.html" . }}

<h1 class="display-4">{{ .Title }}</h1>
{{ if .Params.subtitle }}
  <h5 class="my-3">{{ markdownify .Params.subtitle | emojify }}</h5>
{{ end }}
{{ if ne .Kind "section" }}
  <p>{{ partial "content-details.html" . }}</p>
{{ end }}
{{ if .Content }}
  <hr />
  <div class="content mt-3">
    {{ if .TableOfContents }}
      <div class="float-lg-right ml-lg-3 mb-2 p-3">
        {{ .TableOfContents }}
      </div>
    {{ end }}
    {{ .Content }}
  </div>
{{ end }}
