<header>
  <h2>{{ title .Title }}</h2>
  {{ if .Params.subtitle }}
    <p>{{ markdownify .Params.subtitle }}</p>
  {{ else if .Params.repo }}
    {{ $data := getJSON "https://api.github.com/repos/" .Params.repo }}
    <p>{{ $data.description }}</p>
  {{ else if .Params.gist }}
    {{ $data := getJSON "https://api.github.com/gists/" .Params.gist }}
    <p>{{ $data.description }}</p>
  {{ end }}
</header>
{{ if .Content }}
  <div class="box">
    {{ if .Params.image }}
      <span class="image featured main" data-image="{{ .Params.image }}"></span>
    {{ end }}
    {{ .Content }}
  </div>
{{ end }}
