<footer class="p-5 {{ if eq .IsHome false }}mt-5{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>&copy; {{ now.Year }} <a href='{{ ref . "contact" }}'>{{ .Site.Title }}</a>.</p>
        <p></p>
      </div>
      <div class="col-sm-4 text-center px-5">
        <p>
          <a id="scroll-top" class="float-left" href="#">To top</a>
          <a id="scroll-elevator" class="float-right" href="#">To top, in <i>style</i></a>
        </p>
      </div>
      <div class="col-sm-4">
        <h3 class="text-right">
          {{ range .Site.Data.social.notable_accounts }}
            {{ $account := index $.Site.Data.social.accounts . }}
            <a href="{{ $account.link }}" title="{{ $account.name }}"><i class="mx-1 {{ $account.icon }}" aria-hidden="true"></i></a>
          {{ end }}
        </h3>
      </div>
    </div>
  </div>
</footer>
