<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Language" content="{{ .Site.Language.Lang }}" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" />
  <meta name="superfish" content="nofish" />
  <meta name="application-name" content="{{ .Site.Title }}" />
  <link rel="icon" type="image/png" href="/img/logo-transparent.png" /s>

  <link rel="stylesheet" href="/css/style.css" />


  {{ if .Parent }}
    {{ if ne .Parent .Site.Home }}
      <title>{{ .Title }} | {{ .Parent.Title }} | {{ .Site.Title }}</title>
    {{ end }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ end }}

  {{ partial "metadata.html" . }}
</head>
