  <header id="header" {{ if .Params.landing }}class="alt"{{ end }}>
    <h1><a href="index.html">{{ title .Site.Title }}</a></h1>
    <nav id="nav">
      <ul>
        {{ range where .Site.Pages.ByTitle "Kind" "section" }}
        {{ $page := . }}
          <li>
            <a href="{{ $page.Permalink }}">
              {{ $page.Title }}
            </a>
          </li>
        {{ end }}
        {{ range where .Site.Pages.ByTitle "Kind" "page" }}
          {{ $page := . }}
          {{ if eq $page.Section "" }}
            <li>
              <a href="{{ $page.Permalink }}">
                {{ $page.Title }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </header>
