  <header id="header" {{ if .IsHome }}class="alt"{{ end }}>
    <h1><a href="/">{{ title .Site.Title }}</a></h1>
    <nav id="nav">
      <ul>
        {{ range where .Site.Pages.ByTitle "Kind" "section" }}
          <li>
            <a href="{{ .Permalink }}">{{ title .LinkTitle }}</a>
            {{ if .Pages }}
              <ul>
                {{ range first 4 .Pages.ByDate }}
                  <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
                <li><a href="{{ .Permalink }}"><i>See more {{ lower .Title }}</i></a></li>
              </ul>
            {{ end }}
          </li>
        {{ end }}

        {{ range where .Site.Pages.ByTitle "Kind" "page" }}
          {{ if eq .Section "" }}
            <li><a href="{{ .Permalink }}">{{ title .LinkTitle }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </header>
