{{ if .Section }}
  {{ $pages := where .Site.RegularPages "Section" .Section }}

  {{ $related := ($pages.Related .) | first 3 }}

  {{ if $related }}
    {{ $col := printf "col-md-%d" (div 12 (len $related)) }}

    <div class="container mt-5 text-center">
      <h3 class="m-0">Related content</h3>
      <div class="row">
        {{ range $related }}
          <div class="{{ $col }} mt-4">
            <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
            {{ partial "content-details.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
