{{ if .Section }}
    <div class="container text-center">
        <small>Share this page</small>
        <div class="shareon" data-title="{{ .Title }}" data-url="{{ .Permalink }}">
            <a class="facebook" title="Share on Facebook"></a>
            <a class="linkedin" title="Share on LinkedIn"></a>
            <a class="mastodon" title="Share on Mastodon"></a>
            <a class="odnoklassniki" title="Share on Odnoklassniki"></a>
            <a class="pinterest" title="Share on Pintrest"></a>
            <a class="pocket" title="Share on Pocket"></a>
            <button class="reddit" title="Share on Reddit"></button>
            <button class="telegram" title="Share on Telegram"></button>
            <button class="twitter" title="Twitter" data-via="{{ .Site.Data.social.accounts.twitter.username }}"></button>
            <button class="viber" title="Share on Viber"></button>
            <button class="vkontakte" title="Share on Vkontakte"></button>
            <button class="whatsapp" title="Share on WhatsApp"></button>
        </div>
    </div>
{{ end }}
