{{ if .Section }}
    <div class="container mt-5 text-center">
        <small>Share this page</small>
        <div class="shareon" data-title="{{ .Title }}" data-url="{{ .Permalink }}">
            <a class="facebook"></a>
            <a class="linkedin"></a>
            <a class="mastodon"></a>
            <a class="odnoklassniki"></a>
            <a class="pinterest"></a>
            <a class="pocket"></a>
            <button class="reddit"></button>
            <button class="telegram"></button>
            <button class="twitter" data-via="{{ .Site.Data.social.accounts.twitter.username }}"></button>
            <button class="viber"></button>
            <button class="vkontakte"></button>
            <button class="whatsapp"></button>
        </div>
    </div>
{{ end }}
