{{ partial "page_start.html" . }}
	<section id="banner">
		<h2>{{ title .Site.Title }}</h2>
    <p><i>{{ title .Site.Params.author_name }}</i></p>
	</section>

	<section id="main" class="container">
		<section class="box special">
			<header class="major">
				<h2>{{ plainify .Content }}</h2>
				<p>I'm Jake. A software engineer with a passion for security and privacy. This is my website, a home for my projects, blog posts, and anything else for that matter.</p>
			</header>
		</section>

		<section class="box special features">
			<div class="features-row">
				<section>
          {{ with .Site.GetPage "section" "posts" }}
            <a href="{{ .Permalink }}" class="no-underline">
              <span class="icon major fa-comments accent2"></span>
              <h3>{{ .LinkTitle }}</h3>
            </a>
  					<p>
							{{ partial "summary_string.html" . }}
            </p>
          {{ end }}
				</section>
				<section>
          {{ with .Site.GetPage "section" "projects" }}
            <a href="{{ .Permalink }}" class="no-underline">
    					<span class="icon major fa-code accent3"></span>
    					<h3>{{ .LinkTitle }}</h3>
            </a>
  					<p>
							{{ partial "summary_string.html" . }}
            </p>
          {{ end }}
				</section>
			</div>
			<div class="features-row">
  			<section>
          {{ with .Site.GetPage "section" "setup" }}
            <a href="{{ .Permalink }}" class="no-underline">
              <span class="icon major fa-desktop accent4"></span>
              <h3>{{ .LinkTitle }}</h3>
            </a>
  					<p>
							{{ partial "summary_string.html" . }}
            </p>
          {{ end }}
				</section>
				<section>
					{{ with .Site.GetPage "section" "robotics" }}
						<a href="{{ .Permalink }}" class="no-underline">
							<span class="icon major fa-cogs accent5"></span>
							<h3>{{ .LinkTitle }}</h3>
						</a>
						<p>
							{{ partial "summary_string.html" . }}
						</p>
					{{ end }}
				</section>
			</div>
		</section>

    <div class="index-list" id="projects">
			<div class="align-center">
				<h2><a href="/projects/">Projects</a></h2>
			</div>
  		<div class="row">
				{{ range first .Site.Params.index_items (where .Data.Pages.ByDate "Section" "projects") }}
					{{ partial "box_image.html" . }}
				{{ end }}
  		</div>
			<div class="align-center">
				<h4><a href="/projects/">All Projects</a></h4>
			</div>
    </div>

    <div class="index-list" id="recent-posts">
			<div class="align-center">
				<h2><a href="/posts/">Recent Posts</a></h2>
			</div>
  		<div class="row">
				{{ range first .Site.Params.index_items (where .Data.Pages.ByDate "Section" "posts") }}
					{{ partial "box_image.html" . }}
				{{ end }}
  		</div>
			<div class="align-center">
				<h4><a href="/posts/">All Posts</a></h4>
			</div>
    </div>
	</section>
{{ partial "page_end.html" . }}
