{{ partial "page_start.html" . }}
	<section id="banner">
		<h2>{{ title .Site.Title }}</h2>
    <p><i>{{ title .Site.Params.author_name }}</i></p>
	</section>

	<section id="main" class="container">
		<section class="box special">
			<header class="major">
				<h2>Full-stack Developer, Security Enthusiast, Hacker of all the things</h2>
				<p>I'm Jake. A software engineer with a passion for security and privacy. This is my website, a home for my projects, blog posts, and anything else for that matter.</p>
			</header>
			<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
		</section>

		<section class="box special features">
			<div class="features-row">
				<section>
					<span class="icon major fa-sticky-note-o accent2"></span>
					<h3>Blog</h3>
					<p>
            {{ with .Site.GetPage "section" "posts" }}
              {{ .Params.summary | default .Summary | truncate .Site.Params.summary_length_long "..." }}
            {{ end }}
          </p>
				</section>
				<section>
					<span class="icon major fa-code accent3"></span>
					<h3>Projects</h3>
					<p>
            {{ with .Site.GetPage "section" "projects" }}
              {{ .Params.summary | default .Summary | truncate .Site.Params.summary_length_long "..." }}
            {{ end }}
          </p>
				</section>
			</div>
			<div class="features-row">
  			<section>
  				<span class="icon major fa-desktop accent4"></span>
					<h3>Setup</h3>
					<p>
            {{ with .Site.GetPage "section" "setup" }}
              {{ .Params.summary | default .Summary | truncate .Site.Params.summary_length_long "..." }}
            {{ end }}
          </p>
				</section>
  			<section>
  				<span class="icon major fa-lock accent5"></span>
					<h3>Enim phasellus</h3>
					<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
				</section>
			</div>
		</section>

    <div class="box special">
      <h2>Projects</h2>
  		<div class="row">
      {{ range first .Site.Params.index_items (where .Data.Pages.ByDate "Section" "projects") }}
        {{ partial "box.html" . }}
      {{ end }}
  		</div>
      <h4><a href="/projects/">All Projects</a></h4>
    </div>

    <div class="box special">
      <h2>Recent Posts</h2>
  		<div class="row">
      {{ range first .Site.Params.index_items (where .Data.Pages.ByDate "Section" "!=" "") }}
        {{ partial "box.html" . }}
      {{ end }}
  		</div>
    </div>
	</section>
{{ partial "page_end.html" . }}
